body {
  color: white;
  background-color: rgb(61, 61, 61);
}

.canvas {
  border: solid 5px rgb(96, 210, 238);
  width: 500px;
  height: 500px;
}

.clear-button {
  width: 200px;
  height: 60px;
  background-color: rgb(233, 151, 151);
  color: rgb(61, 61, 61);
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: bold;
}

.clear-button:active{
  border:1px solid #334c66;
  background-color: rgba(233, 151, 151, 0.5);
  color:#e0ebf5;
}

.tweet-button {
  display: inline-block;
  width: 200px;
  height: 60px;
  line-height: 60px;
  background-color: rgb(37, 173, 226);
  color: rgb(61, 61, 61);
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: bold;
}

.send-button {
  width: 200px;
  height: 60px;
  background-color: rgb(144, 235, 144);
  color: rgb(61, 61, 61);
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  font-weight: bold;
}

.send-button:active{
  border:1px solid #334c66;
  background-color: rgba(144, 235, 144, 0.5);
  color:#e0ebf5;
}

.answer {
  color: red;
  font-size: 100px;
}

